# HR analysis

#### Import required libraries

In [1]:
import pandas as pd
from pre_cleaner import pre_cleaner, to_clean

In [2]:
data = pd.read_csv('aug_train_clean.csv')
data.head()

,Unnamed: 0,city_development_index,enrolled_university,education_level,experience,company_size,last_new_job,training_hours,target,gender_Female,...,major_discipline_Humanities,major_discipline_No Major,major_discipline_Other,major_discipline_STEM,company_type_Early Stage Startup,company_type_Funded Startup,company_type_NGO,company_type_Other,company_type_Public Sector,company_type_Pvt Ltd
0,0,0.920,no_enrollment,Graduate,>20,NaN,1,36,1.0,0,...,0,0,0,1,0,0,0,0,0,1
1,1,0.776,no_enrollment,Graduate,15,50-99,>4,47,0.0,0,...,0,0,0,1,0,0,0,0,0,1
2,2,0.624,Full time course,Graduate,5,NaN,never,83,0.0,0,...,0,0,0,1,0,0,0,0,0,1
3,3,0.789,no_enrollment,Graduate,<1,NaN,never,52,1.0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0.767,no_enrollment,Masters,>20,50-99,4,8,0.0,0,...,0,0,0,1,0,1,0,0,0,0

In [3]:
#pre_cleaner(data)

In [4]:
to_clean(data)

"enrolled_university", "education_level", "experience", "company_size", "last_new_job",